parameters:
	ignoreErrors:
		-
			message: '''
				#^Call to deprecated method get\(\) of class Illuminate\\Http\\Request\:
				since Symfony 7\.4, use properties `\-\>attributes`, `query` or `request` directly instead$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Http/Controllers/Api/TicketController.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/AgentRating.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/EscalationRequest.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/RiskAssessment.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/Ticket.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/TicketAssignment.php

		-
			message: '#^Unable to resolve the template type TRelatedModel in call to method Illuminate\\Database\\Eloquent\\Model\:\:belongsTo\(\)$#'
			identifier: argument.templateType
			count: 9
			path: src/Models/TicketEvaluation.php
